{% extends "base.html" %}

{% block title %}Update Permissions for {{ account }}{% endblock %}

{% block page_title %}
        Update Permissions for {{ account }}
{% endblock page_title %}

{% block page_content %}
            <style type="text/css">
             .permission-form select[multiple] {
                min-height: 400px;
             }
            </style>
            <form method="POST" class="form-horizontal permission-form">
                {% include "common/horizontal_form_snippet.html" %}
                <div class="form-actions">
                    <input type="submit" name="submit" value="Save" class="btn btn-primary"/>
                </div>
            </form>
{% endblock %}
