{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>The following users will be assigned:</p>

    <ul>{{ queryset|unordered_list }}</ul>

    <div>
        {% for user in queryset %}
        <input type="hidden" name="_selected_action" value="{{ user.pk }}">
        {% endfor %}
    <input type="hidden" name="action" value="assign_to_perm_group" />
    <input type="submit" value="Assign" />
    </div>
</form>
{% endblock %}
