{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block bodyclass %}account{% endblock %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-11 col-xs-offset-0-h">
            <div class="account-form">
                <h1>{% trans "Confirm E-mail Address" %}</h1>

                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <div class="help-copy">
                        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
                    </div>
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">{% trans 'Confirm' %}</button>
                        </div>
                    </form>
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
