{% extends "account/base.html" %}

{% load i18n %}

{% block bodyclass %}account{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-11 col-xs-offset-0-h">
            <div class="account-form">
                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <input type="submit" name="action" class="btn btn-primary btn-block" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
