{% extends "account/base.html" %}

{% load i18n %}

{% block bodyclass %}account{% endblock %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-11 col-xs-offset-0-h">
            <div class="account-form">
                <h1>{% trans "Verify Your E-mail Address" %}</h1>
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
