<h2>Connect User Code of Conduct</h2>

<p>Welcome to Connect. Here are a few guidelines to keep in mind when using the application.</p>

<h3>Things that we encourage:</h3>

<ul>
    <li>Respecting and including other group members</li>
    <li>Welcoming new members and answering questions they have</li>
    <li>Connecting with groups</li>
    <li>Sharing information to help your group achieve its goals</li>
    <li>Sharing best practices</li>
    <li>Building friendships with other group members</li>
    <li>Sharing your personal story or experiences</li>
    <li>Working with our support team if you have feedback, questions, or concerns</li>
    <li>Flagging inappropriate message</li>
</ul>

<h3>Things that we discourage:</h3>

<ul>
    <li>Using Connect for anything other than its intended purpose</li>
    <li>Disrupting people who are trying to effectively organize on behalf of an issue</li>
    <li>Feeding the trolls: Don’t engage with users you suspect have come here solely to cause trouble. If that is their intention, they will go away if you ignore them.</li>
</ul>

<h3>Things we will delete:</h3>

<ul>
    <li>Comments that use offensive or abusive language</li>
    <li>Personal attacks, including: name-calling and insidious remarks about a person’s presumed or actual race, age, gender, nationality, sexual orientation, disability, or any other aspect of his or her background</li>
    <li>Spam</li>
    <li>Any content or postings that violate our Terms of Service. Any violation of our Terms of Service may result in, among other things, termination or suspension of your rights to use Connect.</li>
</ul>
